<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <link rel="icon" href="/static/zslt-official.ico">
        <title>永劫无间优化工具</title>
    </head>
    <body>
        <a href="/"><h1>永劫无间优化工具</h1></a>
        <h3>工具信息</h3>
        <table>
            <tr>
                <td>开发者模式</td>
                <td>{{.developer_mode}}</td>
            </tr>
            <tr>
                <td>永劫无间安装平台</td>
                <td>{{.installation_platform}}</td>
            </tr>
            <tr>
                <td>永劫无间安装路径</td>
                <td>{{.naraka_install_path}}</td>
            </tr>
        </table>
    </body>
</html>