<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <link rel="icon" href="/static/zslt-official.ico">
        <title>永劫无间优化工具</title>
    </head>
    <body>
        <a href="/"><h1>永劫无间优化工具</h1></a>
        <body>
            <form action="/physic" method="post">
                <label for="physic">物理效果:</label>
                <select id="physic" name="physic">
                    <option value="on">打开</option>
                    <option value="off">关闭</option>
                </select>
                <input type="submit" value="应用">
            </form>
        </body>
    </body>
</html>